NETUID=105
SUBTENSOR_CHAIN_ENDPOINT=wss://entrypoint-finney.opentensor.ai:443
WALLET=coldkey_name
HOTKEY=hotkey_name

# Available: INFO, INFOX, DEBUG, DEBUGX, TRACE, TRACEX
LOG_LEVEL=INFO

# Necessary for dataset generation
OPENAI_API_KEY=

# Miner model specification by task and sample rate. 
# If you have not fine-tuned a model for a specific task and sample rate, just leave it blank.
# NOTE: EACH MINER CAN ONLY RESPOND FOR ONE TASK AND ONE SAMPLE RATE. 
# PLEASE REGISTER ANOTHER MINER IF YOU HAVE ANOTHER MODEL FOR ANOTHER TASK OR SAMPLE RATE.
# 16kHz Sample Rate, Denoising Task
DENOISING_16000HZ_HF_MODEL_NAMESPACE=
DENOISING_16000HZ_HF_MODEL_NAME=
DENOISING_16000HZ_HF_MODEL_REVISION=

# 16kHz Sample Rate, Dereverberation Task
DEREVERBERATION_16000HZ_HF_MODEL_NAMESPACE=
DEREVERBERATION_16000HZ_HF_MODEL_NAME=
DEREVERBERATION_16000HZ_HF_MODEL_REVISION=

# HealthCheck API
HEALTHCHECK_API_HOST=0.0.0.0
HEALTHCHECK_API_PORT=6000