NETUID=105
SUBTENSOR_CHAIN_ENDPOINT=wss://entrypoint-finney.opentensor.ai:443
WALLET=coldkey_name
HOTKEY=hotkey_name
OPENAI_API_KEY=
CUDA_DIRECTORY=/usr/local/cuda-12.6

# Available: true, false
# If false, podman will be used instead.
USE_DOCKER=false

# Available: INFO, INFOX, DEBUG, DEBUGX, TRACE, TRACEX
LOG_LEVEL=INFO

# HealthCheck API
HEALTHCHECK_API_HOST=0.0.0.0
HEALTHCHECK_API_PORT=6000